# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
APIGateway/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
APIGateway/node_modules/cors/CONTRIBUTING.md
APIGateway/node_modules/cors/HISTORY.md
APIGateway/node_modules/cors/lib/index.js
APIGateway/node_modules/cors/LICENSE
APIGateway/node_modules/cors/package.json
APIGateway/node_modules/cors/README.md
APIGateway/node_modules/foreach/.npmignore
APIGateway/node_modules/foreach/component.json
APIGateway/node_modules/foreach/index.js
APIGateway/node_modules/foreach/LICENSE
APIGateway/node_modules/foreach/Makefile
APIGateway/node_modules/foreach/package.json
APIGateway/node_modules/foreach/Readme.md
APIGateway/node_modules/foreach/test.js
APIGateway/node_modules/indexof/.npmignore
APIGateway/node_modules/indexof/component.json
APIGateway/node_modules/indexof/index.js
APIGateway/node_modules/indexof/Makefile
APIGateway/node_modules/indexof/package.json
APIGateway/node_modules/indexof/Readme.md
APIGateway/node_modules/inherits/inherits.js
APIGateway/node_modules/inherits/inherits_browser.js
APIGateway/node_modules/inherits/LICENSE
APIGateway/node_modules/inherits/package.json
APIGateway/node_modules/inherits/README.md
APIGateway/node_modules/is-object/.npmignore
APIGateway/node_modules/is-object/.testem.json
APIGateway/node_modules/is-object/.travis.yml
APIGateway/node_modules/is-object/examples/simple.js
APIGateway/node_modules/is-object/index.js
APIGateway/node_modules/is-object/LICENCE
APIGateway/node_modules/is-object/package.json
APIGateway/node_modules/is-object/README.md
APIGateway/node_modules/is-object/test/index.js
APIGateway/node_modules/is-object/test/static/index.html
APIGateway/node_modules/is-object/test/static/test-adapter.js
APIGateway/node_modules/is/component.json
APIGateway/node_modules/is/index.js
APIGateway/node_modules/is/LICENSE.md
APIGateway/node_modules/is/package.json
APIGateway/node_modules/is/README.md
APIGateway/node_modules/is/test/index.js
APIGateway/node_modules/isarray/build/build.js
APIGateway/node_modules/isarray/component.json
APIGateway/node_modules/isarray/index.js
APIGateway/node_modules/isarray/package.json
APIGateway/node_modules/isarray/README.md
APIGateway/node_modules/mime/LICENSE
APIGateway/node_modules/mime/mime.js
APIGateway/node_modules/mime/package.json
APIGateway/node_modules/mime/README.md
APIGateway/node_modules/mime/test.js
APIGateway/node_modules/mime/types/mime.types
APIGateway/node_modules/mime/types/node.types
APIGateway/node_modules/minimist/.travis.yml
APIGateway/node_modules/minimist/example/parse.js
APIGateway/node_modules/minimist/index.js
APIGateway/node_modules/minimist/LICENSE
APIGateway/node_modules/minimist/package.json
APIGateway/node_modules/minimist/readme.markdown
APIGateway/node_modules/minimist/test/bool.js
APIGateway/node_modules/minimist/test/dash.js
APIGateway/node_modules/minimist/test/default_bool.js
APIGateway/node_modules/minimist/test/dotted.js
APIGateway/node_modules/minimist/test/long.js
APIGateway/node_modules/minimist/test/num.js
APIGateway/node_modules/minimist/test/parse.js
APIGateway/node_modules/minimist/test/parse_modified.js
APIGateway/node_modules/minimist/test/short.js
APIGateway/node_modules/minimist/test/whitespace.js
APIGateway/node_modules/object-assign/index.js
APIGateway/node_modules/object-assign/license
APIGateway/node_modules/object-assign/package.json
APIGateway/node_modules/object-assign/readme.md
APIGateway/node_modules/object-keys/.npmignore
APIGateway/node_modules/object-keys/.travis.yml
APIGateway/node_modules/object-keys/index.js
APIGateway/node_modules/object-keys/package.json
APIGateway/node_modules/object-keys/README.md
APIGateway/node_modules/object-keys/shim.js
APIGateway/node_modules/object-keys/test.js
APIGateway/node_modules/qs/.gitmodules
APIGateway/node_modules/qs/.npmignore
APIGateway/node_modules/qs/index.js
APIGateway/node_modules/qs/package.json
APIGateway/node_modules/qs/Readme.md
APIGateway/node_modules/readable-stream/.npmignore
APIGateway/node_modules/readable-stream/duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_passthrough.js
APIGateway/node_modules/readable-stream/lib/_stream_readable.js
APIGateway/node_modules/readable-stream/lib/_stream_transform.js
APIGateway/node_modules/readable-stream/lib/_stream_writable.js
APIGateway/node_modules/readable-stream/LICENSE
APIGateway/node_modules/readable-stream/package.json
APIGateway/node_modules/readable-stream/passthrough.js
APIGateway/node_modules/readable-stream/readable.js
APIGateway/node_modules/readable-stream/README.md
APIGateway/node_modules/readable-stream/transform.js
APIGateway/node_modules/readable-stream/writable.js
APIGateway/node_modules/string_decoder/.npmignore
APIGateway/node_modules/string_decoder/index.js
APIGateway/node_modules/string_decoder/LICENSE
APIGateway/node_modules/string_decoder/package.json
APIGateway/node_modules/string_decoder/README.md
APIGateway/node_modules/xtend/.npmignore
APIGateway/node_modules/xtend/has-keys.js
APIGateway/node_modules/xtend/index.js
APIGateway/node_modules/xtend/LICENCE
APIGateway/node_modules/xtend/Makefile
APIGateway/node_modules/xtend/mutable.js
APIGateway/node_modules/xtend/package.json
APIGateway/node_modules/xtend/README.md
APIGateway/node_modules/xtend/test.js
APIGateway/node_modules/cors/CONTRIBUTING.md
APIGateway/node_modules/cors/HISTORY.md
APIGateway/node_modules/cors/lib/index.js
APIGateway/node_modules/cors/LICENSE
APIGateway/node_modules/cors/package.json
APIGateway/node_modules/cors/README.md
APIGateway/node_modules/foreach/.npmignore
APIGateway/node_modules/foreach/component.json
APIGateway/node_modules/foreach/index.js
APIGateway/node_modules/foreach/LICENSE
APIGateway/node_modules/foreach/Makefile
APIGateway/node_modules/foreach/package.json
APIGateway/node_modules/foreach/Readme.md
APIGateway/node_modules/foreach/test.js
APIGateway/node_modules/indexof/.npmignore
APIGateway/node_modules/indexof/component.json
APIGateway/node_modules/indexof/index.js
APIGateway/node_modules/indexof/Makefile
APIGateway/node_modules/indexof/package.json
APIGateway/node_modules/indexof/Readme.md
APIGateway/node_modules/inherits/inherits.js
APIGateway/node_modules/inherits/inherits_browser.js
APIGateway/node_modules/inherits/LICENSE
APIGateway/node_modules/inherits/package.json
APIGateway/node_modules/inherits/README.md
APIGateway/node_modules/is-object/.npmignore
APIGateway/node_modules/is-object/.testem.json
APIGateway/node_modules/is-object/.travis.yml
APIGateway/node_modules/is-object/examples/simple.js
APIGateway/node_modules/is-object/index.js
APIGateway/node_modules/is-object/LICENCE
APIGateway/node_modules/is-object/package.json
APIGateway/node_modules/is-object/README.md
APIGateway/node_modules/is-object/test/index.js
APIGateway/node_modules/is-object/test/static/index.html
APIGateway/node_modules/is-object/test/static/test-adapter.js
APIGateway/node_modules/is/component.json
APIGateway/node_modules/is/index.js
APIGateway/node_modules/is/LICENSE.md
APIGateway/node_modules/is/package.json
APIGateway/node_modules/is/README.md
APIGateway/node_modules/is/test/index.js
APIGateway/node_modules/isarray/build/build.js
APIGateway/node_modules/isarray/component.json
APIGateway/node_modules/isarray/index.js
APIGateway/node_modules/isarray/package.json
APIGateway/node_modules/isarray/README.md
APIGateway/node_modules/mime/LICENSE
APIGateway/node_modules/mime/mime.js
APIGateway/node_modules/mime/package.json
APIGateway/node_modules/mime/README.md
APIGateway/node_modules/mime/test.js
APIGateway/node_modules/mime/types/mime.types
APIGateway/node_modules/mime/types/node.types
APIGateway/node_modules/minimist/.travis.yml
APIGateway/node_modules/minimist/example/parse.js
APIGateway/node_modules/minimist/index.js
APIGateway/node_modules/minimist/LICENSE
APIGateway/node_modules/minimist/package.json
APIGateway/node_modules/minimist/readme.markdown
APIGateway/node_modules/minimist/test/bool.js
APIGateway/node_modules/minimist/test/dash.js
APIGateway/node_modules/minimist/test/default_bool.js
APIGateway/node_modules/minimist/test/dotted.js
APIGateway/node_modules/minimist/test/long.js
APIGateway/node_modules/minimist/test/num.js
APIGateway/node_modules/minimist/test/parse.js
APIGateway/node_modules/minimist/test/parse_modified.js
APIGateway/node_modules/minimist/test/short.js
APIGateway/node_modules/minimist/test/whitespace.js
APIGateway/node_modules/object-assign/index.js
APIGateway/node_modules/object-assign/license
APIGateway/node_modules/object-assign/package.json
APIGateway/node_modules/object-assign/readme.md
APIGateway/node_modules/object-keys/.npmignore
APIGateway/node_modules/object-keys/.travis.yml
APIGateway/node_modules/object-keys/index.js
APIGateway/node_modules/object-keys/package.json
APIGateway/node_modules/object-keys/README.md
APIGateway/node_modules/object-keys/shim.js
APIGateway/node_modules/object-keys/test.js
APIGateway/node_modules/qs/.gitmodules
APIGateway/node_modules/qs/.npmignore
APIGateway/node_modules/qs/index.js
APIGateway/node_modules/qs/package.json
APIGateway/node_modules/qs/Readme.md
APIGateway/node_modules/readable-stream/.npmignore
APIGateway/node_modules/readable-stream/duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_passthrough.js
APIGateway/node_modules/readable-stream/lib/_stream_readable.js
APIGateway/node_modules/readable-stream/lib/_stream_transform.js
APIGateway/node_modules/readable-stream/lib/_stream_writable.js
APIGateway/node_modules/readable-stream/LICENSE
APIGateway/node_modules/readable-stream/package.json
APIGateway/node_modules/readable-stream/passthrough.js
APIGateway/node_modules/readable-stream/readable.js
APIGateway/node_modules/readable-stream/README.md
APIGateway/node_modules/readable-stream/transform.js
APIGateway/node_modules/readable-stream/writable.js
APIGateway/node_modules/string_decoder/.npmignore
APIGateway/node_modules/string_decoder/index.js
APIGateway/node_modules/string_decoder/LICENSE
APIGateway/node_modules/string_decoder/package.json
APIGateway/node_modules/string_decoder/README.md
APIGateway/node_modules/xtend/.npmignore
APIGateway/node_modules/xtend/has-keys.js
APIGateway/node_modules/xtend/index.js
APIGateway/node_modules/xtend/LICENCE
APIGateway/node_modules/xtend/Makefile
APIGateway/node_modules/xtend/mutable.js
APIGateway/node_modules/xtend/package.json
APIGateway/node_modules/xtend/README.md
APIGateway/node_modules/xtend/test.js
APIGateway/node_modules/cors/CONTRIBUTING.md
APIGateway/node_modules/cors/HISTORY.md
APIGateway/node_modules/cors/lib/index.js
APIGateway/node_modules/cors/LICENSE
APIGateway/node_modules/cors/package.json
APIGateway/node_modules/cors/README.md
APIGateway/node_modules/foreach/.npmignore
APIGateway/node_modules/foreach/component.json
APIGateway/node_modules/foreach/index.js
APIGateway/node_modules/foreach/LICENSE
APIGateway/node_modules/foreach/Makefile
APIGateway/node_modules/foreach/package.json
APIGateway/node_modules/foreach/Readme.md
APIGateway/node_modules/foreach/test.js
APIGateway/node_modules/indexof/.npmignore
APIGateway/node_modules/indexof/component.json
APIGateway/node_modules/indexof/index.js
APIGateway/node_modules/indexof/Makefile
APIGateway/node_modules/indexof/package.json
APIGateway/node_modules/indexof/Readme.md
APIGateway/node_modules/inherits/inherits.js
APIGateway/node_modules/inherits/inherits_browser.js
APIGateway/node_modules/inherits/LICENSE
APIGateway/node_modules/inherits/package.json
APIGateway/node_modules/inherits/README.md
APIGateway/node_modules/is-object/.npmignore
APIGateway/node_modules/is-object/.testem.json
APIGateway/node_modules/is-object/.travis.yml
APIGateway/node_modules/is-object/examples/simple.js
APIGateway/node_modules/is-object/index.js
APIGateway/node_modules/is-object/LICENCE
APIGateway/node_modules/is-object/package.json
APIGateway/node_modules/is-object/README.md
APIGateway/node_modules/is-object/test/index.js
APIGateway/node_modules/is-object/test/static/index.html
APIGateway/node_modules/is-object/test/static/test-adapter.js
APIGateway/node_modules/is/component.json
APIGateway/node_modules/is/index.js
APIGateway/node_modules/is/LICENSE.md
APIGateway/node_modules/is/package.json
APIGateway/node_modules/is/README.md
APIGateway/node_modules/is/test/index.js
APIGateway/node_modules/isarray/build/build.js
APIGateway/node_modules/isarray/component.json
APIGateway/node_modules/isarray/index.js
APIGateway/node_modules/isarray/package.json
APIGateway/node_modules/isarray/README.md
APIGateway/node_modules/mime/LICENSE
APIGateway/node_modules/mime/mime.js
APIGateway/node_modules/mime/package.json
APIGateway/node_modules/mime/README.md
APIGateway/node_modules/mime/test.js
APIGateway/node_modules/mime/types/mime.types
APIGateway/node_modules/mime/types/node.types
APIGateway/node_modules/minimist/.travis.yml
APIGateway/node_modules/minimist/example/parse.js
APIGateway/node_modules/minimist/index.js
APIGateway/node_modules/minimist/LICENSE
APIGateway/node_modules/minimist/package.json
APIGateway/node_modules/minimist/readme.markdown
APIGateway/node_modules/minimist/test/bool.js
APIGateway/node_modules/minimist/test/dash.js
APIGateway/node_modules/minimist/test/default_bool.js
APIGateway/node_modules/minimist/test/dotted.js
APIGateway/node_modules/minimist/test/long.js
APIGateway/node_modules/minimist/test/num.js
APIGateway/node_modules/minimist/test/parse.js
APIGateway/node_modules/minimist/test/parse_modified.js
APIGateway/node_modules/minimist/test/short.js
APIGateway/node_modules/minimist/test/whitespace.js
APIGateway/node_modules/object-assign/index.js
APIGateway/node_modules/object-assign/license
APIGateway/node_modules/object-assign/package.json
APIGateway/node_modules/object-assign/readme.md
APIGateway/node_modules/object-keys/.npmignore
APIGateway/node_modules/object-keys/.travis.yml
APIGateway/node_modules/object-keys/index.js
APIGateway/node_modules/object-keys/package.json
APIGateway/node_modules/object-keys/README.md
APIGateway/node_modules/object-keys/shim.js
APIGateway/node_modules/object-keys/test.js
APIGateway/node_modules/qs/.gitmodules
APIGateway/node_modules/qs/.npmignore
APIGateway/node_modules/qs/index.js
APIGateway/node_modules/qs/package.json
APIGateway/node_modules/qs/Readme.md
APIGateway/node_modules/readable-stream/.npmignore
APIGateway/node_modules/readable-stream/duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_duplex.js
APIGateway/node_modules/readable-stream/lib/_stream_passthrough.js
APIGateway/node_modules/readable-stream/lib/_stream_readable.js
APIGateway/node_modules/readable-stream/lib/_stream_transform.js
APIGateway/node_modules/readable-stream/lib/_stream_writable.js
APIGateway/node_modules/readable-stream/LICENSE
APIGateway/node_modules/readable-stream/package.json
APIGateway/node_modules/readable-stream/passthrough.js
APIGateway/node_modules/readable-stream/readable.js
APIGateway/node_modules/readable-stream/README.md
APIGateway/node_modules/readable-stream/transform.js
APIGateway/node_modules/readable-stream/writable.js
APIGateway/node_modules/string_decoder/.npmignore
APIGateway/node_modules/string_decoder/index.js
APIGateway/node_modules/string_decoder/LICENSE
APIGateway/node_modules/string_decoder/package.json
APIGateway/node_modules/string_decoder/README.md
APIGateway/node_modules/xtend/.npmignore
APIGateway/node_modules/xtend/has-keys.js
APIGateway/node_modules/xtend/index.js
APIGateway/node_modules/xtend/LICENCE
APIGateway/node_modules/xtend/Makefile
APIGateway/node_modules/xtend/mutable.js
APIGateway/node_modules/xtend/package.json
APIGateway/node_modules/xtend/README.md
APIGateway/node_modules/xtend/test.js
