#corporateDash {
    text-align: center;
}
#corporateDash .createAForumButton {
    border-radius: 2rem;
    font-style: bold;
    font-size: 20px;
    padding-right: 2.39rem;
    padding-left: 2.39rem;
    margin-top: 20px;
    width: 50%;
    max-width: 900px;
    vertical-align: top;
    display: inline-block;
    border: 0px solid transparent;
    background-color: #3ABEFF;
    margin-bottom: 10px;
}
#corporateDash .createAForumButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 190, 255, 0.5) !important;
}
.createAForumButton {
    border-radius: 2rem;
    font-style: bold;
    font-size: 20px;
    padding-right: 2.39rem;
    padding-left: 2.39rem;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    vertical-align: top;
    display: inline-block;
    border: 0px solid transparent;
    background-color: #3ABEFF;
    margin-bottom: 10px;
}
.createAForumButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 190, 255, 0.5) !important;
}
.createForumButton:hover {
    background-color: #3ABEFF;
}
.createForumButton:active {
    background-color: #3ABEFF !important;
}
.clearButton {
    font-style: bold;
    font-size: 16px;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 0px solid transparent;
    background-color: #FFF;
    color: #3ABEFF;
}
.clearButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}
.clearButton:hover {
    background-color: #FFF;
    color: #3ABEFF;
}
.clearButton:active {
    background-color: #FFF !important;
    color: #3ABEFF;
}
.form .control{
    display: inline-block;
    width: 100%;
    max-width: 900px;
    border-radius: 2rem;
    font-size: 17px;
    padding: 0.374rem 1rem;
    height: 42px;
}
.form .control {
    border: 1px solid #000;
    background: transparent;
    color: #000;
}
.form .control:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 190, 255, 0.5) !important;
}
